@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body,
:root{
    height: 100%;
    user-select: none;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    touch-action:pan-y;
}

.no-copy {
    user-select:none;
    -webkit-user-select:none; /* Safari */
    -moz-user-select:none; /* Firefox */
    -ms-user-select:none; /* Internet Explorer/Edge */
}

